@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');
.diwalisite-background-top-section{
    background-image: url("https://d1tgh8fmlzexmh.cloudfront.net/ccbp-static-website/diwali-bg.png");
    background-size: cover;
    height: 30vh;
}
.diwalisite-Tophead-text{
    font-size: 25px;
    color: white;
    padding: 20px;
    font-family: 'caveat';
    width: 150px;
    font-weight: bold;
}
.diwalisite-bottom-section{
    background: #8f0656;
    padding: 10px;
    text-align: center;
}
.diwalisite-card-item{
    background-color: white;
    width: 160px;
    border-radius: 20px;
    padding: 10px;
    text-align: center;
    margin: 35px;
}
.diwalisite-card-image{
    height: 65px;
    width: 55px;
}
.diwalisite-card-heading{
    font-size: 15px;
    padding: 5px;
    font-family: 'Roboto';
}
.diwalisite-card-price{
    font-size: 18px;
    font-weight: bold;
    font-family: 'Roboto';
}
.diwalisite-bottom-but{
    background-color: white;
    color: black;
    font-family: 'Roboto';
    border-radius: 5px;
    border-width: 0px;
    padding: 5px;
    font-size: 15px;
    margin: 30px;
}